
@font-face {
    font-family: 'Magic-Retro';
    src:url('Magic-Retro.woff') format('woff'),
          url('Magic-Retro.woff2') format('woff2'),
          url('Magic-Retro.svg#Magic-Retro') format('svg'),
          url('Magic-Retro.eot'),
          url('Magic-Retro.eot?#iefix') format('embedded-opentype'),
          url('Magic-Retro.ttf') format('truetype');
    src:url('../assests/fonts/Magic-Retro.ttf');
  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* body{
   background-color: rgb(191, 191, 241);
  } */
.nav-link  {
font-weight: bold;
font-size: 20px;
font-family:auto ;
 }
 .heading h1{
    font-family: 'Magic-Retro';
    font-size:40px;
    font-weight: bold;
 }
 .cov{
        padding: 20px;
  }
 .im-1{
    width: 300px;
    height: 300px;
 }

fieldset{
   width: 300px;
   height: 360px;
 

}
legend img{
   width: 200px;
   height: 200px;
  
}

.cover{
   margin: 100px;
   background-color:#FEC76C;
}
 label h1{
   font-size: 20px;
   font-family: 'Magic-retro' ;

}
label p{
   font-family:auto;

   margin-top:40px;
}
.mar-1 .mar-2 .mar-3{

width:200px;height:10px;background-color:#ffffff;
}
.mar-1 div{
   width:60px;height:10px;background-color:#4D70EB;
}
.mar-2 div{
   width:60px;height:10px;background-color:#faeb94;
}
.mar-3 div{
   width:60px;height:10px;background-color:#182657;
}

.imr{
   width: 150px;
 
   object-fit: cover;

   box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
   transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);

 }
 .imr:hover{
   filter: none;
 }
 .hr{
   font-size: 35px;
   font-weight: bolder;
   opacity: 0.5;
 }
 .hr:hover{
   font-size:40px;
 }
 
 .hr:nth-child(even):hover {
  font-size:30px;
 }
 .bt{
   box-shadow: 10px 10px;
   margin: 10px;
 }
 .blur{
   background-color:whitesmoke;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
 }
 
.footer{
   display: flex;
   justify-content: space-around;
margin-top: 50px;
border-top: 2px solid black;
background-color: #4D70EB;

}
.copy{
   margin:25px;
}
.lis li {
   text-decoration: none;
   display: inline-block;
   margin:25px;
   font-size: 30px;

}
.content::before{
   content:'Hello';
   position:absolute;
   background-color: #faeb94;
}