 body{
    background-color: #faeb94;

}
.main{
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
    position: relative;
    
}
.main p{
    margin-top: 250px;
 
}
p:before{
    opacity: 0;
    content:'Hello';
    background-color:#D12D2D;
   bottom: 5px;
    display: inline-block;
    position: relative;
    -ms-transform: rotate(-30deg); 
    transform: rotate(-30deg);
    margin-right: 30px;
}
p:hover::before{
    content:'Hello';
    background-color:#D12D2D;
    display: inline-block;
    position: relative;
   opacity: 1;
   -ms-transform: rotate(0deg); 
    transform: rotate(0deg);
    transition:all 1s ease;
}
.main img{
    width:100px;
}
.btn{
    border:none;
    background:transparent;
    position:relative;
    margin-left: -42px;
    bottom: 25px;
    transform:scale(0.5);
   
}
.btn:hover{
  transform:scale(0.8);
    transition:all 2s ease;
}
.main:hover p{
    transition-delay: .45s;
    transition-duration: .65s;
}